.filter-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-search__results {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
}
.filter-search__input {
  width: 400px;
  height: 30px;
  text-align: center;
  color: pink;
}

.filter-search__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
